<div class="container">
  <h1 class="title">Employee List </h1>

<form>
	<div class="mb-3 row">
		<div class="col-xs-3 col-sm-auto col-pull-right">
			<input
				id="table-search"
				type="text"
				class="form-control"
				name="searchTerm"
        placeholder="Search"
				[(ngModel)]="searchTerm"
        (keyup)="search()"
			/>
		</div>
		<span class="col col-form-label" *ngIf="loading">loading...</span>
	</div>
  <button type="button" (click)="openAddNewEmployeeModal(content)" class="btn btn-success">Add</button>
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">Image</th>
				<th scope="col" sortable="firstName" (sort)="onSort($event)">FirstName</th>
				<th scope="col" sortable="lastName" (sort)="onSort($event)">LastName</th>
        <th scope="col" sortable="email" (sort)="onSort($event)">Email</th>
        <th scope="col" sortable="contactNumber" (sort)="onSort($event)">Contact Number</th>
        <th scope="col" sortable="age" (sort)="onSort($event)">Age</th>
        <th scope="col" sortable="dob" (sort)="onSort($event)">Dob</th>
        <th scope="col" sortable="salary" (sort)="onSort($event)">Salary</th>
        <th scope="col" sortable="address" (sort)="onSort($event)">Address</th>
        <th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let employee of employeeList | slice: (page-1) * pageSize : page * pageSize">
				<td>
					<img
						[src]="employee.imageUrl"
						class="me-2"
						style="width: 50px"
					/>
        </td>
        <td><ngb-highlight [result]="employee.firstName" [term]="searchTerm"></ngb-highlight></td>
				<td>{{employee.lastName}}</td>
				<td>{{employee.email}}</td>
				<td>{{employee.contactNumber}}</td>
        <td>{{employee.age}}</td>
				<td>{{employee.dob}}</td>
				<td>{{employee.salary}}</td>
        <td>{{employee.address}}</td>
        <td><button type="button" class="btn btn-danger" (click)="deleteEmployee(employee.id)">Delete</button></td>
			</tr>
		</tbody>
	</table>

	<div class="d-flex justify-content-between p-2">
		<ngb-pagination [collectionSize]="employeeList.length" [(page)]="page" [pageSize]="pageSize">
		</ngb-pagination>
	</div>
</form>
</div>


<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">New Employee</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<form [formGroup]="employeeForm">
      <div class="mb-3">
        <label for="firstName" class="form-label">First Name</label>
        <input type="text" formControlName="firstName" class="form-control">
      </div>
      <div class="mb-3">
        <label for="lastName" class="form-label">Last Name</label>
        <input type="text" formControlName="lastName" class="form-control">
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" formControlName="email" class="form-control">
      </div>
      <div class="mb-3">
        <label for="contactNumber" class="form-label">Contact Number</label> 
        <input type="phone" id="contactNumber" formControlName="contactNumber" class="form-control">
      </div>
      <div class="mb-3">
        <label for="salary" class="form-label">Salary</label>
        <input type="number" id="salary" formControlName="salary" class="form-control">
      </div>
      <div class="mb-3">
        <label for="address" class="form-label">Address</label>
        <input type="text" id="address" formControlName="address" class="form-control">
      </div>
      <div class="mb-3">
        <label for="imageUrl" class="form-label">Image Url</label>
        <input type="text" formControlName="imageUrl" class="form-control">
      </div>
			<div class="mb-3">
				<label for="dateOfBirth" class="form-label">Date of birth</label>
				<div class="input-group">
					<input
						id="dateOfBirth"
						class="form-control"
						placeholder="yyyy-mm-dd"
						name="dp"
						ngbDatepicker
						#dp="ngbDatepicker"
            formControlName="dob"
			class="form-control"/>
					<button class="btn btn-outline-secondary" (click)="dp.toggle()" type="button"></button>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary" (click)="modal.close()">Save</button>
	</div>
</ng-template>
